<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pocetna strana</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Pocetna stranica</a>
              </li>
            <li class="nav-item active">
              <a class="nav-link" href="Svioglasi.html">Svi oglasi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="dodaj.html">Dodaj oglas</a>
            </li>
          </ul>
        </div>
      </nav>
      <script src="../index.js"></script>
  </body>
</html>
